{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JobsGroup.org | User Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/user_assets/vendors/iconfonts/font-awesome/css/all.min.css' %}">
  <script src="{% static 'assets/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap.min.js' %}"></script>
  
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/user_assets/css/style.css' %}">
    <!-- endinject -->
    
  </head>