{% extends 'base.html' %}
{% block title %} Jobsgroup.org | Jobs in Saudi Arabia {% endblock %}

{% load static %}

{% block meta_data %}

<meta property="og:image" content="{% static 'assets/website_meta.jpgs' %}" />
<meta property="og:image:alt" content="index page logo">
<meta name="og:url" content="https://www.jobsgroup.org/">
<meta name="og:title" content="Jobsgroup.org | Find Your Dream Job in Saudi Arabia">
<meta name="og:site_name" content="Jobsgroup.org">
     
{% endblock %}

{% block content %}
<!-- Title Header Start -->
<div class="clearfix"></div>

<section class="login-plane-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-3">
        <div class="login-panel panel panel-default">
          <div class="panel-body" style="padding: 10px !important;">

              <img src="{% static 'assets/img/Nlogo.png' %}" class="img-responsive" height="150" width="150" style="margin: 20px 30px !important;"/>
              <h3 style="text-align: left; font-size: 25px; font-weight: bold; padding-left: 30px;color:black; font-family: PTSans, sans-serif;">Password reset complete</h3>
              <h4 style="text-align: left; color: black; padding-left: 30px;font-family: PTSans, sans-serif;">Your password has been set. You may go ahead and log in now. 

                <a href="{% url 'login' %}" style="color: #007bff;">Login</a>
              </h4>
              <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}