<!-- Footer -->
<footer class="site-footer">
    {% load static %}
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-12 text-center"><p style="color:white;">
                    JobsGroup.org<br></p>
                    <span class="footer_links">
                        <a href="{% url 'index' %}">Home</a> | <a href="{% url 'jobs' %}">Jobs</a> | <a href="{% url 'companies' %}">Companies</a>
                        | <a href="{% url 'application_form' %}">Application Forms</a>
                        | <a href="{% url 'contact-us' %}">Contact us</a>
                        | <a href="{% url 'our-policy' %}">Privacy Policy and Terms of use</a>
                        
                        
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->

   <!-- Footer END -->
    <!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up" ></button>  