{% extends 'base.html' %}
{% load static %}

{% block head %} 
  

{% endblock %}
{% block content %}
<!-- End Navigation -->
<div class="clearfix"></div>

<!-- Tab Section Start -->
<section class="simple-bg-screen big-wrap">
    <div class="container">
        <div class="error-page">
            <h2 style="font-size: 40px;">Coming<span> Soon</span></h2>
            <p style="font-size: 20px;">Under Production... <i class="fa fa-cog fa-spin fa-1x fa-fw"></i></p> 
            <a href="{% url 'index' %}" class="btn btn-success small-btn">Let's Go Home</a>
        </div>
    </div>
</section>
<!-- Tab section End -->

{% endblock %}