{% extends 'base.html' %}
{% load static %}
{% load replace_string %}

{% block title %} Jobsgroup.org | Our Privacy Policy {% endblock %}

{% block meta_data %} 
<meta property="og:title"         content="jobsgroup.org | Privacy Policy" />
<meta property="og:image" content="{% static 'assets/images/logo.png' %}">
<meta property="og:description" content="Your privacy is on our top priority!">
<meta name="og:url" content="https://jobsgroup.org/our-policy">
<meta name="og:site_name" content="Jobsgroup.org | Jobs in Afghanistan">

{% endblock %}

{% block styles %}
<style>
    .side-widget {
        background: #fff;
        border-radius: 4px;
        border: 1px solid #eceff3;
        margin-bottom: 30px;
        overflow: hidden;
        color: black !important;
    }

    h4.side-widget-title {
        margin: 0;
        text-align: left;
        padding-left: 12px;
        color: #fff;
        font-size: 17px;
        text-transform: uppercase;
        line-height: 48px;
    }
</style>
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="page-content">
    <div class="row" style="background-color: #337ab7; color: white;">
        <div class="container">
            <br>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'assets/img/privacy-policy.svg' %}" width="300" height="300" alt="">
                        <br><br>
                    </div>
                    <div class="col-md-8" style="padding: 10px !important;margin-top: 30px !important;">
                        <h3 style="color: white;">Your privacy is important to us!</h3>
                        <p style="padding-left:0px !important">JobsGroup.org stands as the rapidly expanding job platform in Afghanistan, presenting job opportunities across the entire nation.</p>
                        <!-- <a href="" class="site-button white facebook">About Us</a> -->
                        <a href="{% url 'index' %}" class="site-button twitter">Go Back To Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="container">
            <hr>
            <br>
            <h4>PRIVACY POLICY FOR JOBSGROUP</h4>
            <br>
            <p>At jobsgroup.org, accessible from <a href="https://www.jobsgroup.org/" style="color: #337ab7;">https://www.jobsgroup.org/</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by jobsgroup and how we use it.</p>
    
            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
    
            <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in jobsgroup. This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicyonline.com/privacy-policy-generator/">Free Privacy Policy Generator</a>.</p>
    
            <h4>Consent</h4>
    
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
    
            <h4>Information we collect</h4>
    
            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
            <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
            <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
    
            <h4>How we use your information</h4>
    
            <p>We use the information we collect in various ways, including to:</p>
    
            <ul>
            <li>Provide, operate, and maintain our website</li>
            <li>Improve, personalize, and expand our website</li>
            <li>Understand and analyze how you use our website</li>
            <li>Develop services, features, and functionality</li>
            <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
            <li>Send you emails</li>
            <li>Find and prevent fraud</li>
            </ul>
    
            <h4>Log Files</h4>
    
            <p>jobsgroup follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
    
            <h4>Advertising Partners Privacy Policies</h4>
    
            <P>You may consult this list to find the Privacy Policy for each of the advertising partners of jobsgroup.</p>
    
            <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on jobsgroup, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
    
            <p>Note that jobsgroup has no access to or control over these cookies that are used by third-party advertisers.</p>
    
            <h4>Third Party Privacy Policies</h4>
    
            <p>jobsgroup's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
                
            <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
            <h4>Post a Resume:</h4>
            <p>
                Posting your resume on jobsgroup.org puts you in front of hundreds of employers with open positions each day. When you post your resume, we automatically create a registration for you using the email address and password that you supply. When you return to the site in the future you will use that same email address and password to access and edit your existing resume.
            </p>
                </div>
            </section>
            <!-- Tab section End -->
        </div>

    </div>
</div>
{% endblock %}