{% extends 'base.html' %}
{% load static %}

{% block meta_data %} 
<meta property="og:title"         content="Jobsgroup.org | Search for Company" />
<meta name="og:site_name" content="Jobsgroup.org | Jobs in Afghanistan">
<meta name="keywords"
  content="search for company, search for org, search organization, search">

{% endblock %}

{% load replace_string %}
{% block title %} Search For Companies | JobsGroup {% endblock %}
{% block styles %}
<style>
  p strong{
    font-weight: 700 !important;
  }
  .job-info-box h5 {
    font-weight: 700 !important;
  }
  .job-info-box h3 {
    font-weight: 700 !important;
  }
  p {
    padding-left: 15px;
  }
</style>
{% endblock %}

{% block head %} 

<meta name="google-adsense-account" content="ca-pub-8245638410583528">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8245638410583528"
     crossorigin="anonymous"></script>
     
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-00NJC085NT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-00NJC085NT');
</script>

{% endblock %}


{% block content %}

 <!-- Content -->
 <div class="page-content bg-white">
  
  <div class="container">
    <div class="find-job-bx">
        <p class="site-button button-sm">Search For Your Dream Company</p>

        <form class="dezPlaceAni" action="{% url 'search-company' %}" method="GET">
            <div class="row">
                <div class="col-lg-10 col-md-8">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="company_name" class="form-control" placeholder="Company Name">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-6">
                    <button type="submit" class="site-button btn-block">Find Now</button>
                </div>
            </div>
        </form>
        <center>
            <br><br>
        <h6 class="" style="margin-bottom: 0px !important;">Popular companies for {{ company_name }}</h6>
        <p>Based on recent job openings on Jobs Group</p>
    </center>
    </div>
  </div>
  <!-- contact area -->
  <div class="content-block">
    <!-- Find Job -->
    <div class="section-full bg-white content-inner" style="padding-top: 10px !important;">
        <div class="container">
            <div class="col-md-10" style="padding-left: 0px !important;">
                <div class="section-full job-categories bg-white">
                    <div class="container">
                        <div class="row">
                            {% if company_found %}
                                {% for org in company_found %}                    
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="icon-bx-wraper">
                                            <a href="{% url 'companies' org.slug_cpn %}">
                                            <div class="icon-content">
                                                <img src="{% static 'assets/img/com.jpg' %}" class="img-responsive" style="object-fit:cover;width: 48px; height: 54px !important;margin-bottom: 10px !important;" alt="">
                                                <a href="{% url 'companies' org.slug_cpn %}" style="font-size: 14px !important; text-align: center;" class="dez-tilte">{{ org.organzation }}</a>
                                                <a href="{% url 'companies' org.slug_cpn %}"><p class="site-button button-sm" style="font-size: 13px !important; text-align: center; margin-top: 5px;">{{ org.total }} Open Positions </p></a> 
                                            </div>
                                            </a>
                                        </div>				
                                </div>
                            
                            {% endfor %}   
                            {% else %}
                            <div class="col-md-12">
                            <center><h3>Company not found!</h3></center>
                            </div>
                          {% endif %}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Find Job END -->
</div>
</div>
<!-- Content END-->
{% endblock %}