{% extends 'base.html' %}
{% load static %}

{% block meta_data %} 
<meta property="og:title"         content="Jobsgroup.org | Search Your Dream Job" />
<meta property="og:image" content="{% static 'assets/images/logo.png' %}" />
<meta name="og:site_name" content="Jobsgroup.org | Jobs in Afghanistan">
<meta name="keywords"
  content="search for job, search job, search in job">

{% endblock %}
{% load replace_string %}
{% block styles %}
<style>
    .side-widget {
        background: #fff;
        border-radius: 4px;
        border: 1px solid #eceff3;
        margin-bottom: 30px;
        overflow: hidden;
        color: black !important;
    }

    h4.side-widget-title {
        margin: 0;
        text-align: left;
        padding-left: 12px;
        color: #fff;
        font-size: 17px;
        text-transform: uppercase;
        line-height: 48px;
    }

    dl,
    ul,
    ol {
        list-style-position: outside;
        padding: 0;
        font-size: 13px !important;
    }
    ul,
    ol {
        margin-bottom: 24px;
    }
    ul li,
    ol li {
        padding: 0;
    }
    dl {
        margin-left: 0;
        margin-bottom: 30px;
    }
    dl dd {
        margin-bottom: 10px;
    }
    
</style>
{% endblock %}

{% block head %}

<meta name="google-adsense-account" content="ca-pub-8245638410583528">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8245638410583528"
     crossorigin="anonymous"></script>
     
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-00NJC085NT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-00NJC085NT');
</script>

{% endblock %}

{% block content %}
<div class="page-content">
   
    <!-- Our Job -->
    <div class="section-full bg-white content-inner-2">
        <div class="container">
            <div class="find-job-bx">
                <p class="site-button button-sm">Find Jobs, Employment & Career Opportunities</p>

                <form class="dezPlaceAni" action="{% url 'search' %}" method="GET">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="what" class="form-control" placeholder="Job Title, Keywords, or Phrase">
                                    <div class="input-group-append">
                                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                <select name="emp_type" class="form-control">
                                    <option value="">
                                        By Employment Type
                                    </option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                <select name="category" class="form-control">
                                    <option value="">
                                        By Category
                                    </option>
                                    {% if categories_for_search %}
                                    {% for cate in categories_for_search %}
                                        <option value="{{ cate.slug_cate }}">{{ cate.category }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                <select name="where" class="form-control">
                                    <option value="">
                                        By Location
                                    </option>
                                    {% for i in locations %}
                                    {% if ',' not in i.job_location %}
                                        <option value="{{ i.job_location }}">
                                            {{ i.job_location }}
                                        </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                        </div>
                        


                        <div class="col-lg-2 col-md-6">
                            <button type="submit" class="site-button btn-block">Find Job</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="d-flex job-title-bx section-head">
                <div class="mr-auto">
                    <h6 class="fw4 m-b0"><strong> <b>{{ count_rows }}</b></strong> jobs match your search 
                        
                        {% if what_keyword %} for {{ what_keyword }} {% endif %}
                        {% if category_name %} in {{ category_name.category }} {% endif %}
                        {% if where_keyword %} in {{ where_keyword }} {% endif %}

                        {% if emp_type %} in {{ emp_type }} {% endif %}
                        
                    </h5>
                </div>
            </div>
            
            <div class="section-full bg-white content-inner-2" style="padding-top: 0px !important; padding-bottom: 0px !important;">
                <div class="container">
                  
                    <div class="section-full bg-white content-inner-2" style="padding-top: 0px !important; padding-bottom: 0px !important;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <ul class="post-job-bx">
                                        {% if jobs_founded %}
                                        {% for job in jobs_founded %}
                                        <li>
                                            <a href="{% url '' job.id job.jobs_slug %}" target="_blank">
                                                <div class="d-flex m-b20">
                                                    <div class="job-post-company">
                                                        
            
                                                        {% if not job.posted_by.company_image %}
                                                        {% if job.org_photo.photo %}
                                                        <figure>
                                                            <img src="{{ job.org_photo.photo.url }}">
                                                            </figure>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if job.posted_by.company_image %}

                                                                <figure>
                                                                    <img src="{{ job.posted_by.company_image.url }}">
                                                                    </figure>
                                                        {% endif %}
                                                    </div>
                                                    <div class="job-post-info">
                                                        <h5>{{ job.job_title|replace_string|truncatechars:40 }}</h5>
                                                        <ul>
                                                            <li data-toggle="tooltip" data-placement="top" title="{{ job.organzation }}"><i class="fa fa-map-marker"></i> {{ job.organzation|truncatechars:40 }}</li>
                                                            <li data-toggle="tooltip" data-placement="top" title="Location"><i class="fa fa-globe"></i> 
                                                                {% if ',' not in job.job_location %}
                                                                    <span data-toggle="tooltip" data-placement="top" title="Location">{{ job.job_location }}</span>
                                                                {% else %}
                                                                <span data-toggle="tooltip" data-placement="top" title="Location">Multi Locations</span>
                                                                {% endif %}
                                                            </li>
                                                            <li><i class="fa fa-clock-o"></i> {{ job.whenpublished }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="job-time mr-auto">                                                    
                                                        {% if job.no_of_jobs > '1' %}
                                                        <span style="text-transform:capitalize !important;">{{ job.no_of_jobs }} Vacancies</span>
                                                        {% endif %}
                
                                                        {% if job.gender == 'Male' %}
                                                        <span style="text-transform:capitalize !important;"> {{ job.gender }} <i class="fa fa-male"></i></span>
                                                        {% endif %}
                                                        {% if job.gender == 'Female' %}
                                                        <span style="text-transform:capitalize !important;"> {{ job.gender }} <i class="fa fa-female"></i></span>
                                                        {% endif %}
                
                                                        <span style="text-transform:capitalize !important;" data-toggle="tooltip" data-placement="top" title="Employment Type">
                                                            <i class="fa fa-bookmark-o"></i> {{ job.emp_type }}
                                                        </span>
                                                        
                                                    </div>
                                                </div>
                                                <!-- <span class="post-like fa fa-heart-o"></span> -->
                                            </a>
                                        </li>
                                        {% endfor %}
                                        {% endif %}    
                                    </ul>
                                    <div class="m-t30">
                                        <div class="d-flex">
                                            {% if jobs.has_previous %}
                                            <a class="site-button button-sm mr-auto" href="?page={{ jobs.previous_page_number }}"><i class="ti-arrow-left"></i> Prev</a>
                                            {% endif %}
                                            {% if jobs.has_next %}
                                            <a class="site-button button-sm" href="?page={{ jobs.next_page_number }}">Next <i class="ti-arrow-right"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="sticky-top">
                                        <div class="candidates-are-sys m-b30">
                                            <div class="candidates-bx">
                                                <div  class="side-widget">
                                                    <h4 class="side-widget-title" style="background:#337ab7;">Advertisments</h4>
            
            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- Our Job END -->
</div>
<!-- Call To Action END -->
</div>
{% endblock %}