{% extends 'base.html' %}
{% load static %}

{% block title %} Jobs in {{ organization.organzation }} {% endblock %}
 
{% block meta_data %} 
<meta name="og:site_name" content="Jobsgroup.org | Jobs in Saudi Arabia">
<meta name="keywords"
  content="jobs in {{ organization.organzation }}">

<meta name="og:title"         content="Jobs in {{ organization.organzation }}" />
<meta property="og:image:alt" content="{{ organization.organzation }} logo">

<meta property="og:image" content="
{% if organization.org_photo.vector_photo %}
  {{ organization.org_photo.vector_photo.url }}
{% else %}
  {% static 'assets/images/logo.png' %}
{% endif %}
" />

{% endblock %}

{% load replace_string %}
 
{% block styles %}
<style>
  p strong{
    font-weight: 700 !important;
  }
  .job-info-box h5 {
    font-weight: 700 !important;
  }
  .job-info-box h3 {
    font-weight: 700 !important;
  }
  p {
    padding-left: 15px;
  }

  dl,
  ul,
  ol {
      list-style-position: outside;
      padding: 0;
      font-size: 13px !important;
  }
  ul,
  ol {
      margin-bottom: 24px;
  }
  ul li,
  ol li {
      padding: 0;
  }
  dl {
      margin-left: 0;
      margin-bottom: 30px;
  }
  dl dd {
      margin-bottom: 10px;
  }

  .detail-pic {
    display: block;
    width: 114px;
    background: #fff;
    border: 1px solid #2784F4;
    height: 114px;
    border-radius: 50%;
    padding: 9px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  .detail-pic img {
    width: 95px;
    height: 95px;
    margin: auto;
    border-radius: 50%;
  }
</style>
{% endblock %}

{% block head %} 
<meta name="google-adsense-account" content="ca-pub-8245638410583528">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8245638410583528"
     crossorigin="anonymous"></script>
{% endblock %}


{% block content %}

  <!-- contact area -->
  <div class="content-block">

    <section class="section-full bg-white">
    <div class="container">
        <br><hr><br>
        <div class="col-md-10">
            <div class="row">
                {% if organization.organzation %}
                
                        <div class="col-md-2">
                            <div class="detail-pic" style="margin-top: 30px;">
                                {% if organization.org_photo.photo %}
                                <img src="{{ organization.org_photo.photo.url }}"  class="img-responsive" style="object-fit: cover; " alt="">
                                {% elif UserProfile.company_image %}
                                    <img  src="{{ UserProfile.company_image.url }}" class="img-responsive" style="object-fit: cover; " alt="">
                                {% else %}
                                        <img src="{% static 'assets/img/com.jpg' %}" width="100" height="100" alt="">
                                {% endif %}
                            </div>
                            
                        </div>
                {% endif %}
            <div class="col-md-9" style="padding: 10px !important;">
                <span class="pull-right">
                </span>
                {% if organization.organzation %}
                    <h6 style="margin-bottom: 0px !important;">{{ organization.organzation }}</h6>
                    <p style="padding-left: 0px !important;">
                        
                        Total jobs available    {% if organization.organzation %}  ({{ count_vac.as_float__sum }}) {% endif %} 
                        <b>
                            {% else %}
                            Sorry, there is no jobs available for this company right now !
                            {% endif %}
                    </b></p>
            </div>
            </div>
        </div>
    </div>
    </section>


</div>

        <div class="section-full bg-white content-inner-2" style="padding-top: 30px !important; padding-bottom: 0px !important;">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-8">
                        <hr>
                        <ul class="post-job-bx">
                            {% if jobs_founded %}
                            {% for job in jobs_founded %}
                            <li class="_li">
                                  
                                <div class="d-flex m-b20">
                                    {% now "Y-m-d" as todays_date %}
                                    {% if job.job_date|date:"Y-m-d" == todays_date %}
                                            <span style="border: none;"><span class="label label-warning rounded">New</span></span>
                                    {% else %}
                                    {% endif %}
                                    <a href="{% url '' job.id job.jobs_slug %}">
                                    <div class="job-post-company">
                                        {% if not job.posted_by.company_image %}
                                                {% if job.org_photo.photo %}
                                                <figure>
                                                    <img src="{{ job.org_photo.photo.url }}">
                                                    </figure>
                                                    {% endif %}
                                                {% endif %}
                                                {% if job.posted_by.company_image %}

                                                        <figure>
                                                            <img src="{{ job.posted_by.company_image.url }}">
                                                            </figure>
                                                {% endif %}
                                    </div>
                                    </a>
                                    <div class="job-post-info">
                                        <a href="{% url '' job.id job.jobs_slug %}">
                                        <h6>{{ job.job_title|replace_string|truncatechars:40 }}</h6>
                                        </a>
                                        <ul>
                                            <li data-toggle="tooltip" data-placement="top" title="{{ job.organzation }}"><i class="fa fa-map-marker"></i> 
                                                {% if job.posted_by.id %}
                                                <a href="{% url 'companies' job.posted_by.id job.slug_cpn  %}" style="text-decoration:underline;">{{ job.organzation|truncatechars:40 }}</a>
                                                {% else %}
                                                {{ job.organzation|truncatechars:40 }}
                                                {% endif %}

                                            </li>
                                            <li data-toggle="tooltip" data-placement="top" title="Location"><i class="fa fa-globe"></i> 
                                                {% if ',' not in job.job_location %}
                                                    <span data-toggle="tooltip" data-placement="top" title="Location">{{ job.job_location }}</span>
                                                {% else %}
                                                <span data-toggle="tooltip" data-placement="top" title="Location">Multi Locations</span>
                                                {% endif %}
                                            </li>
                                            <!-- <li><i class="fa fa-clock-o"></i> {{ job.whenpublished }}</li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="job-time mr-auto">                                                    
                                        {% if job.no_of_jobs > '1' %}
                                        {% if 'Unspecified' in job.no_of_jobs %}
                                        {% else %}
                                                <span style="text-transform:capitalize !important;">
                                                    {{ job.no_of_jobs }} Vacancies</span>
                                        {% endif %}
                                        {% endif %}

                                        {% if job.gender == 'Male' %}
                                        <span style="text-transform:capitalize !important;"> {{ job.gender }} <i class="fa fa-male"></i></span>
                                        {% endif %}
                                        {% if job.gender == 'Female' %}
                                        <span style="text-transform:capitalize !important;"> {{ job.gender }} <i class="fa fa-female"></i></span>
                                        {% endif %}
                                        
                                        {% if job.emp_type == '--' %}
                                        
                                        {% else %}
                                        <span style="text-transform:capitalize !important;" data-toggle="tooltip" data-placement="top" title="Employment Type">
                                            <i class="fa fa-bookmark-o"></i> {{ job.emp_type }}
                                        </span>
                                        {% endif %}

                                        {% if job.salary != 'Unspecified' %}
                                        <span style="text-transform:capitalize !important;" data-toggle="tooltip" data-placement="top" title="Employment Type">
                                            <i class="fa fa-money"></i> {{ job.salary }}
                                        </span>
                                        {% else %}
                                        
                                        {% endif %}

                                        
                                    </div>
                                            <span><a href="https://www.bayt.com{{ job.submission_email }}" class="site-button btn-block btn-sm">Apply Now &nbsp; <i class="fa fa-check-circle"></i></a></span>
                                    </div>
                            
                                <!-- <span class="post-like fa fa-heart-o"></span> -->
                        </li>
                            {% endfor %}
                            {% endif %}    
                        </ul>
                        <div class="m-t30">
                            <div class="d-flex">
                                {% if jobs.has_previous %}
                                <a class="site-button button-sm mr-auto" href="?page={{ jobs.previous_page_number }}"><i class="ti-arrow-left"></i> Prev</a>
                                {% endif %}
                                {% if jobs.has_next %}
                                <a class="site-button button-sm" href="?page={{ jobs.next_page_number }}">Next <i class="ti-arrow-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="sticky-top">
                            <div class="candidates-are-sys m-b30">
                                <div class="candidates-bx">
                                    <div  class="side-widget">
                                        <h4 class="side-widget-title" style="background:#2784F4;">Advertisments</h4>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    </div>
</div>
{% endblock %}