{% extends 'base.html' %}
{% load static %}

{% block meta_data %} 


<meta property="og:image" content="{% static 'assets/images/logo.png' %}" />
<meta name="og:url" content="https://jobsgroup.org/jobs-by-location/{{ where_keyword }}">
<meta property="og:image:alt" content="search page logo">
<meta name="og:title" content="Jobsgroup.org | Search for Jobs">
<meta name="og:site_name" content="Jobsgroup.org | Jobs in Saudi Arabia">
<meta name="keywords"
  content="search for jobs, search in, search jobs in Saudi Arabia">

<meta property="og:title"         content="Jobs in | {{ where_keyword }}" />
{% endblock %}

{% load replace_string %}
{% block styles %}
<style>
    .side-widget
    {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eceff3;
    margin-bottom: 30px;
    overflow: hidden;
    color:black !important;
    }
    h4.side-widget-title
    {
        margin: 0;
        text-align: left;
        padding-left: 12px;
        color: #fff;
        font-size: 17px;
        text-transform: uppercase;
        line-height: 48px;
    }
    dl,
    ul,
    ol {
        list-style-position: outside;
        padding: 0;
        font-size: 13px !important;
    }
    ul,
    ol {
        margin-bottom: 24px;
    }
    ul li,
    ol li {
        padding: 0;
    }
    dl {
        margin-left: 0;
        margin-bottom: 30px;
    }
    dl dd {
        margin-bottom: 10px;
    }
</style>
{% endblock %}
{% block title %} Jobs in {{ where_keyword }} {% endblock %}
{% block head %} 
{% endblock %}

{% block content %}
<div class="page-content">
  
    <!-- Our Job -->
    <div class="section-full bg-white content-inner-2">
        <div class="container">
            <div class="find-job-bx">
                <p class="site-button button-sm">Find Jobs, Employment & Career Opportunities</p>

                <form class="dezPlaceAni" action="{% url 'search' %}" method="GET">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="what" class="form-control" placeholder="Job Title or Keyword">
                                    <div class="input-group-append">
                                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <select name="category" class="form-control">
                                        <option value="">
                                            By Category
                                        </option>
                                        {% if categories_for_search %}
                                        {% for cate in categories_for_search %}
                                        {% if cate.category != '' %}
                                        <option value="{{ cate.slug_cate }}">
                                            {{ cate.category }}</option>
                                        {% else %}
                                            
                                            {% endif %}

                                    {% endfor %}
                                    {% endif %}
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                <select name="emp_type" class="form-control">
                                    <form class="dezPlaceAni" action="{% url 'search' %}" method="GET">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="what" class="form-control" placeholder="Job Title or Keyword">
                                        <div class="input-group-append">
                                          <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select name="category" class="form-control">
                                            <option value="">
                                                By Category
                                            </option>
                                            {% if categories_for_search %}
                                            {% for cate in categories_for_search %}
                                            {% if cate.category != '' %}
                                            <option value="{{ cate.slug_cate }}">
                                                {{ cate.category }}</option>
                                            {% else %}
                                                
                                                {% endif %}

                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                    <select name="emp_type" class="form-control">
                                        <option value="">
                                            By Employement Type
                                        </option>
                                        {% if emp_type %}
                                            {% for i in emp_type %}
                                                {% if i.emp_type != '--' %}
                                                <option value="{{ i.emp_type }}">{{ i.emp_type }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select name="where" class="form-control">
                                            <option value="">
                                            By Location
                                        </option>
                                        {% for i in locations %}
                                        {% if ',' not in i.job_location %}
                                            <option value="{{ i.job_location }}">
                                                {{ i.job_location }}
                                            </option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                            </div>
                            


                            <div class="col-lg-2 col-md-6">
                                <button type="submit" class="site-button btn-block">Find Job</button>
                            </div>
                        </div>
                    </form>
                                    {% if emp_type_ %}
                                        {% for i in emp_type_ %}
                                            {% if i.emp_type != '--' %}
                                            <option value="{{ i.emp_type }}">{{ i.emp_type }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <select name="where" class="form-control">
                                        <option value="">
                                        By Location
                                    </option>
                                    {% for i in locations %}
                                    {% if ',' not in i.job_location %}
                                        <option value="{{ i.job_location }}">
                                            {{ i.job_location }}
                                        </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                        </div>
                        


                        <div class="col-lg-2 col-md-6">
                            <button type="submit" class="site-button btn-block">Find Job</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
   <!-- Our Job -->
   <div class="section-full bg-white content-inner-2" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <div class="container">
        <div class="d-flex job-title-bx section-head">
            <div class="mr-auto">
                <h4 class="m-b5">Vacancies in {{ where_keyword }} </h4>
                <h6 class="fw4 m-b0">{{ count_rows }} Available Jobs</h5>
            </div>

        </div>
    </div>
    </div>
      
        <div class="section-full bg-white content-inner-2" style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8" id="jobRecordsContainer">
                        <ul class="post-job-bx">
                            {% if jobs_founded %}
                            {% for job in jobs_founded %}
                            <li class="_li">
                              
                                    <div class="d-flex m-b20">
                                        {% now "Y-m-d" as todays_date %}
                                        {% if job.job_date|date:"Y-m-d" == todays_date %}
                                                <span style="border: none;"><span class="label label-warning rounded">New</span></span>
                                        {% else %}
                                        {% endif %}
                                        <a href="{% url '' job.id job.jobs_slug %}">
                                        <div class="job-post-company">
                                            {% if not job.posted_by.company_image %}
                                                    {% if job.org_photo.photo %}
                                                    <figure>
                                                        <img src="{{ job.org_photo.photo.url }}">
                                                        </figure>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if job.posted_by.company_image %}

                                                            <figure>
                                                                <img src="{{ job.posted_by.company_image.url }}">
                                                                </figure>
                                                    {% endif %}
                                        </div>
                                        </a>
                                        <div class="job-post-info">
                                            <a href="{% url '' job.id job.jobs_slug %}">
                                            <h6>{{ job.job_title|replace_string|truncatechars:40 }}</h6>
                                            </a>
                                            <ul>
                                                <li data-toggle="tooltip" data-placement="top" title="{{ job.organzation }}"><i class="fa fa-map-marker"></i> 
                                                    {% if job.posted_by.id %}
                                                    <a href="{% url 'companies' job.posted_by.id job.slug_cpn  %}" style="text-decoration:underline;">{{ job.organzation|truncatechars:40 }}</a>
                                                    {% else %}
                                                    <a href="{% url 'companies' job.slug_cpn  %}" style="text-decoration:underline;">{{ job.organzation|truncatechars:40 }}</a>
                                                    {% endif %}

                                                </li>
                                                <li data-toggle="tooltip" data-placement="top" title="Location"><i class="fa fa-globe"></i> 
                                                    {% if ',' not in job.job_location %}
                                                        <span data-toggle="tooltip" data-placement="top" title="Location">{{ job.job_location }}</span>
                                                    {% else %}
                                                    <span data-toggle="tooltip" data-placement="top" title="Location">Multi Locations</span>
                                                    {% endif %}
                                                </li>
                                                <!-- <li><i class="fa fa-clock-o"></i> {{ job.whenpublished }}</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="job-time mr-auto">                                                    
                                            {% if job.no_of_jobs > '1' %}
                                            {% if 'Unspecified' in job.no_of_jobs %}
                                            {% else %}
                                                    <span style="text-transform:capitalize !important;">
                                                        {{ job.no_of_jobs }} Vacancies</span>
                                            {% endif %}
                                            {% endif %}
    
                                            {% if job.gender == 'Male' %}
                                            <span style="text-transform:capitalize !important;"> {{ job.gender }} <i class="fa fa-male"></i></span>
                                            {% endif %}
                                            {% if job.gender == 'Female' %}
                                            <span style="text-transform:capitalize !important;"> {{ job.gender }} <i class="fa fa-female"></i></span>
                                            {% endif %}
                                            
                                            {% if job.emp_type == '--' %}
                                            
                                            {% else %}
                                            <span style="text-transform:capitalize !important;" data-toggle="tooltip" data-placement="top" title="Employment Type">
                                                <i class="fa fa-bookmark-o"></i> {{ job.emp_type }}
                                            </span>
                                            {% endif %}

                                            {% if job.salary != 'Unspecified' %}
                                            <span style="text-transform:capitalize !important;" data-toggle="tooltip" data-placement="top" title="Employment Type">
                                                <i class="fa fa-money"></i> {{ job.salary }}
                                            </span>
                                            {% else %}
                                            
                                            {% endif %}

                                            
                                        </div>
                                                <span><a href="https://www.bayt.com{{ job.submission_email }}" class="site-button btn-block btn-sm">Apply Now &nbsp; <i class="fa fa-check-circle"></i></a></span>
                                        </div>
                                
                                    <!-- <span class="post-like fa fa-heart-o"></span> -->
                            </li>
                            {% endfor %}
                            {% endif %}    
                        </ul>
                        <div class="m-t30">
                            <div class="pagination">
                                {% if jobs_founded.has_previous %}
                                <li>
                                    <a href="?page=1"> <i class="fa fa-angle-double-left"></i></a>
                                    <a href="?page={{ jobs_founded.previous_page_number }}"> <i class="fa fa-angle-left"></i></a>
                                </li>
                                {% endif %}
                                {% for num in jobs_founded.paginator.page_range %}
                                {% if jobs_founded.number == num %}
                                <li class="active">
                                    <a><strong>{{ num }}</strong></a>
                                </li>
                                {% elif num > jobs_founded.number|add:'-3' and num < jobs_founded.number|add:'3' %}
                                <li>
                                    <a href="?page={{ num }}"> {{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
            
                                {% if jobs_founded.has_next %}
                                <li>
                                    <a href="?page={{ jobs_founded.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                    <a href="?page={{ jobs_founded.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
                                </li>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="sticky-top">
                            <div class="candidates-are-sys m-b30">
                                <div class="candidates-bx">
                                    <div  class="side-widget">
                                        <h4 class="side-widget-title" style="background:#2784F4;">Advertisments</h4>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      <hr>
              <!-- Multiplex ads after this comment -->

        </div>
    </div>
    <!-- Our Job END -->
</div>
{% endblock %}